@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

body {
  background-color: hsl(204, 43%, 93%);
}

.container {
  max-width: 85%;
  margin: 2rem auto;
  background-color: white;
  border-radius: 0.5rem;
  padding-top: 1.5rem;
}

.subs {
  background-color: hsl(179, 62%, 43%);
}

.whyUs {
  background-color: hsla(179, 62%, 43%, 0.85);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

h1 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 1rem;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
}

.col {
  /* border: 1px solid red; */
  padding: 0.5rem 1.5rem;
  width: auto;
  color: white;
}

.col > * {
  margin-bottom: 1rem;
}

.subs h2,
.whyUs h2 {
  margin-top: 1.5rem;
}

.header p,
.fullAccessText,
.benefit p {
  font-size: 0.88rem;
}

.header h2 {
  color: hsl(71, 73%, 54%);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.header p {
  color: hsl(218, 22%, 67%);
  line-height: 2;
  margin-bottom: 1.6rem;
}

.pricing {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pricing h3 {
  font-size: 1.8rem;
  margin-right: 0.8rem;
}

.pricing p {
  color: hsla(204, 43%, 93%, 0.6);
}

.fullAccessText {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: hsl(204, 43%, 93%);
}

.button {
  margin-bottom: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: hsl(71, 73%, 54%);
  border-radius: 0.3rem;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

.button:hover {
  cursor: pointer;
}

.button a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.benefit {
  margin-bottom: 1.3rem;
}

.benefit p {
  line-height: 1.5;
  color: hsl(204, 43%, 93%);
}

@media (min-width: 23.5rem) {
  .container {
    max-width: 19.91rem;
  }
}

@media (min-width: 75rem) {
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 55%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  }

  h1 {
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0 3rem;
  }

  .col {
    padding: 2rem 3rem;
  }

  .header h2,
  .subs h2,
  .whyUs h2 {
    font-size: 1.15rem;
  }

  .subs h2,
  .whyUs h2 {
    margin-top: 1rem;
  }

  .header p,
  .fullAccessText,
  .benefit p {
    font-size: 1rem;
  }

  .header {
    padding-right: 9rem;
    flex-basis: 100%;
  }

  .subs,
  .whyUs {
    flex-basis: 50%;
  }

  .subs {
    border-bottom-left-radius: 0.5rem;
  }

  .whyUs {
    border-bottom-left-radius: 0rem;
  }

  .header h2 {
    margin-bottom: 0.5rem;
  }

  .header p {
    line-height: 1.7;
    margin-bottom: 1rem;
  }

  .pricing h3 {
    font-size: 2.3rem;
  }

  .button {
    margin-bottom: 0rem;
  }

  .benefit {
    margin-bottom: 0rem;
  }

  .benefit p {
    line-height: 1.4;
  }
}
